<div id="loginPage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 loginArea">
        <div class="loginContent">
          <div class="brand">
            <h3>Classic Cars</h3>
          </div>

          <div class="formArea">
            <div class="title">
              <p>Sign Up</p>
            </div>
            <div class="signUpForm">
              <form action="">
                <div class="uk-margin usenameLine">
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-width-large" type="text">
                  </div>
                </div>

                <div class="uk-margin emailLine">
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-width-large" type="email">
                  </div>
                </div>
          
                <div class="uk-margin passwordLine">
                    <div class="uk-inline">
                      <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                      <input class="uk-input uk-form-width-large" type="text">
                    </div>
                </div>

                <div class="uk-margin passwordLine">
                  <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-width-large" type="text">
                  </div>
                </div>
                <div class="submitArea">
                  <span>forgot password?</span>
                  <button class="uk-button uk-button-default">Sign Up</button>
                </div>
              </form>
            </div>
          </div>

          <div class="registerBox">
            <p>Don’t have an account? <b>Sign Up</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-8 imageArea">
        
      </div>
    </div>
  </div>
</div>
  