@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

.navbar {
    color: white;
    padding: 1.6em;

    a {
        text-decoration: none;
        color: white;
        font-size: 16pt;
        margin-right: 1em;
        margin-left: 1em;
    }

    .navbar-brand {
        font-size: 30pt;
        margin-right: 1em;
        font-family: 'Pacifico', cursive;
    }

    .dropdown-menu {
        position: absolute !important;
        left: 25% !important;
    }

    .dropdown-menu {
        top: 70%;
        left: auto;
        background-color: #8f58c4;
        border: none;
    }

    .dropdown-list {
        list-style-type: none;
        padding: 0px;
    }

    .dropdown-item:hover {
        background: transparent;
        color: darkblue;
    }
}

