<div class="main">
  <app-navbar></app-navbar>

  <div class="content">
    <div class="main-content">
      <div class="main-mg">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-6 left-col">
              <h1 class="text-white">
                Like to get your own car? 
              </h1>
              <p>We have the best car deals on planet Earth, offers no-haggle prices on certified used cars in Niger. Search our inventory of used cars for sale in AL and visit our nearby car dealerships. </p>
              <button class="button btn">View Available Cars</button>

              <div class="social">
                <ul class="social-list justify-content-around">
                  <li class="social-item">
                    <a href="" uk-icon="facebook"></a>
                  </li>
                  <li class="social-item">
                      <a href="" uk-icon="twitter"></a>
                  </li>
                  <li class="social-item">
                      <a href="" uk-icon="instagram"></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 right-col">
              <img src="../../assets/img/undraw_city_driver_jh2h.svg" alt="car model">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
